    <main class="page testimonials">
        <section class="clean-block clean-testimonials dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Admin Panel</h2>
                    <p>Welcome to the Admin Panel. Here you can configure options and settings about the website, along with see people's responses to the contact and Live Map form.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card clean-testimonial-item border-0 rounded-0">
                            <div class="card-body">
                                <h3><a href="/admin/contact">Contact Form</a></h3>
                                <p class="card-text">See the responses to the Contact Form here.<br><br>Total responses: {{len1}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-testimonial-item border-0 rounded-0">
                            <div class="card-body">
                                <h3><a href="/admin/map">Live Map Reports</a></h3>
                                <p class="card-text">You can check and remove Live Map reports here.<br><br>Total reports: {{len2}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-testimonial-item border-0 rounded-0">
                            <div class="card-body">
                                <h3><a href="/admin/logout">Log Out</a></h3>
                                <p class="card-text">Finished with policing the website? Log out here.<br><br>Thank you!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 