    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Contact a City Official</h2>
                    <p>Have feedback, comments, complaints, or anything else? Send a message directly to Glendale's City Officials!<br></p>
                </div>
                <form method="POST" action="/api/contact">
                    <div class="form-group"><label>Name</label><input name="name" class="form-control" type="text"></div>
                    <div class="form-group"><label>Subject</label><input name="subject" class="form-control" type="text"></div>
                    <div class="form-group"><label>Email</label><input name="email" class="form-control" type="text"></div>
                    <div class="form-group"><label>Message</label><textarea name="message" class="form-control"></textarea></div><label>City Official</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="official" id="contact_everyone" value="Everyone" checked>
                <label class="form-check-label" for="exampleRadios0">
                    Everyone
                </label>
            </div>
   			<br />
            <div class="form-check">
                <input class="form-check-input" type="radio" name="official" id="contact_sinanyan" value="Mayor Zareh Sinanyan">
                <label class="form-check-label" for="exampleRadios1">
                    <img src="assets/img//officials/sinanyan.jpeg?h=1f6c79dc4f84ce28bf90ecf87cabce15" width="50">
                    <br>
                    Mayor Zareh Sinanyan
                </label>
            </div>
   			<br />
            <div class="form-check">
                <input class="form-check-input" type="radio" name="official" id="contact_agajanian" value="Councilmember Vrej Agajanian">
                <label class="form-check-label" for="exampleRadios1">
                    <img src="assets/img//officials/agajanian.jpeg?h=02918db922266dd5bd92b38e5eca97ab" width="50">
                    <br>
                    Councilmember Vrej Agajanian
                </label>
            </div>
   			<br />
            <div class="form-check">
                <input class="form-check-input" type="radio" name="official" id="contact_devine" value="Councilmember Paula Devine">
                <label class="form-check-label" for="exampleRadios1">
                    <img src="assets/img//officials/devine.jpeg?h=adbcd8fe75e47086c6110aed4068c36c" width="50">
                    <br>
                    Councilmember Paula Devine
                </label>
            </div>
   			<br />
            <div class="form-check">
                <input class="form-check-input" type="radio" name="official" id="contact_gharpetian" value="Councilmember Vartan Gharpetian">
                <label class="form-check-label" for="exampleRadios1">
                    <img src="assets/img//officials/gharpetian.jpeg?h=512186ea5b4039d2b8ceb5c8d01e67e5" width="50">
                    <br>
                    Councilmember Vartan Gharpetian
                </label>
            </div>
   			<br />
            <div class="form-check">
                <input class="form-check-input" type="radio" name="official" id="contact_najarian" value="Councilmember Ara Najarian">
                <label class="form-check-label" for="exampleRadios1">
                    <img src="assets/img//officials/Najarian.jpeg?h=db9e3e061ae6ec80efd078da23a08d0a" width="50">
                    <br>
                    Councilmember Ara Najarian
                </label>
            </div>
                    <div class="form-group"><input class="btn btn-primary btn-block" type="submit" style="margin-top: 20px;"></div>
                </form>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
    <script>
    if(new URL(location.href).searchParams.get("success")) {
        if(new URL(location.href).searchParams.get("success") == "1")
            swal("Contact response sent!", "Your contact reponse has been successfully sent!", "success");
        else
            swal("There was an error!", "Sorry, but your contact response was not able to be sent.", "error");

        window.history.pushState({}, document.title, "/contact/");
    }

    </script>
