    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">FAQ</h2>
                    <p>Have some questions you want answered? Check and see if they are answered here first! If not, feel free to use our contact form and ask!</p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">Why? What is GlenDaily for?<br></h4>
                        <div class="answer">
                            <p>GlenDaily is <em>Team #12</em>'s Valley Hackathon IV submission and our answer to the prompt: Build a mobile application or website that allows Glendale residents to easily connect with city leaders, find emergency alerts,
                                and recieve notifications about city happenings and general information about the city.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">Inspiration<br></h4>
                        <div class="answer">
                            <p>We wanted to build a more useful platform for communication between Glendale city officials and the Glendale community than just an informational website.<br>For many, accessibility is a barrier to the ability to communicate
                                their needs, express concerns, and stay connected with the city of Glendale.<br>We thought, we could combine the powerful ability to geotag maps with an open platform where users could raise their concerns and see them
                                resolved in real time.<br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">What does GlenDaily do?</h4>
                        <div class="answer">
                            <p>GlenDaily allows user to post reports on a live public map. City officials then address the reports and mark them as resolved.<br>City officials have access to an admin dashboard where they can view incoming tickets assigned
                                specifically to them, broadcast alerts about new ideas, challenges, and projects, as well as post community events to a live calendar feed.<br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">How did you build it?</h4>
                        <div class="answer">
                            <p>We built the back end using Node.js and the Express JavaScript framework because we wanted full control of the functionality.<br>We developed a responsive front end using Bootstrap and Handlebars templates.<br>We used the Google
                                Maps JavaScript API for the live map feature.<br>We deployed our web application using Heroku in order to have SSL enabled.<br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">What were some of the challenges you ran into?</h4>
                        <div class="answer">
                            <p>Managing git branches and merge conflicts.<br>Learning a new API.<br>Accessing geolocation information from the browser without SSL in our dev environments.<br>Completing all features in the 4 hours allocated for development
                                and creating a presentation.<br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">What are the accomplishments you are proud of?</h4>
                        <div class="answer">
                            <p>Building the web application functionality from scratch instead of using a CMS.<br>Winning 2nd place at what was the first hackathon for all of us.<br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">What did you learn?</h4>
                        <div class="answer">
                            <p>Learned how to work together on the same git repo.<br>Learned how to work as a team and utilize each of our different skillsets for different roles.<br>Learned more about Handlebars templates.<br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">Who made this <em>fantastic</em>&nbsp;website?</h4>
                        <div class="answer">
                            <p>Members of Team #12 at Valley Hackathon IV created this website.<br>Check out the people below!<br><a href="https://github.com/sdulaney">Stewart Dulaney</a><br><a href="https://github.com/AntiTeal">Bryce Casaje</a><br><a href="https://github.com/janelletio98">Janelle Be Tio</a><br>
                                <a href="https://github.com/sasagiv">Sagiv Levi</a><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>