<h1>Glendaily</h1>
<p>Welcome to Glendaily!</p>

<p>The City of Glendale was incorporated on February 16, 1906 and spans approximately 30.6 square miles with a current population of approximately 194,478 people (US Census). Located minutes away from downtown Los Angeles, Pasadena, Burbank, Hollywood, and Universal City, Glendale is the fourth largest city in Los Angeles County and is surrounded by Southern California's leading commercial districts.</p>

<p>As one of its core functions, Glendale provides well-maintained streets and a variety of transportation services. The City's historic success at attracting employers is partially attributed to the result  of its location at the center of four major freeways including the I-5 Golden State Freeway, SR-2 Glendale Freeway, ST-134 Ventura Freeway, and the 210 Foothill Freeway; all provide easy access for residents, workers, and customers from around the region. Glendale also offers its own bus services, the Beeline, with 13 routes connecting customers to Jet Propulsion Laboratory (JPL), the City of Burbank, and the Metrolink Stations in both Burbank and Glendale. </p>

<p>The Bob Hope Airport in Burbank serves the Los Angeles area including Glendale, Pasadena and the San Fernando Valley. It is the only airport in the greater Los Angeles area with a direct rail connection to downtown Los Angeles. The City of Glendale is located about 30 minutes from Los Angeles International Airport (LAX) which is a commerce leader and designated as a world-class airport for its convenient location, modern facilities, and superior sea/air/land connections.</p>

<p>Businesses and residents alike have taken advantage of Glendale's central location, reputation for safety, excellent business environment, outstanding schools, state-of-the-art healthcare facilities, and growing restaurant and entertainment options. Glendale is also one of Southern California's leading office markets featuring a wide range of properties and amenities. The City has over six million square feet of office space and is home to such recognized firms as Walt Disney Imagineering, Nestle USA, IHOP / Applebees, DreamWorks, LegalZoom, and Public Storage.</p>

<p>Glendale prides itself on the quality of services it provides to the community. It is a full-service City, which includes a water and electrical department. The City operates its own power plant capable of serving the electrical needs of the entire city, although the majority of power is currently imported from other areas for cost savings. Water comes primarily from the Metropolitan Water District, along with a small portion from local wells. </p>


