<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="/api/mappost" action="POST">
	<select name="type">
		<option value="emergency">Emergency</option>
		<option value="construction">Construction</option>
		<option value="accident">Accident</option>
	</select><br />
	<label for="media">Photo / Video: </label><input type="file" placeholder="Photo / Video" name="media"/><br />
	<input type="text" hidden name="coords" id="coords" />
	<input type="submit" id="submit" disabled />
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<iframe style="width: 0; height: 0" id="geolocate" src="https://brycec.me/geolocate/"></iframe>
<script>
	window.addEventListener("message", console.log, false);
	if ("geolocation" in navigator) {
		navigator.geolocation.getCurrentPosition(function(position) {
  			document.getElementById("coords").value = position.coords.latitude + "|" + position.coords.longitude;
  			document.getElementById("submit").disabled = false;
		});
	} else {
	  swal("Cannot find location!", "Cannot find your current location, please enter the address into the form.", "warning");
	}
</script>